Hi, <%= @account.fullname %>!<br />
<br />
<strong>Your account has been just activated!</strong><br/>
<br />
You may login with your email address and password that you used to sign up.
<br />
You now have full access to every part of <a href="http://hcsuzukiviolin.com">http://hcsuzukiviolin.com/</a>, including Photobooks and Newsletters.<br />
<br />
Also you can register for lessons online! Just visit <a href="http://hcsuzukiviolin.com/register">http://hcsuzukiviolin.com/register</a><br />
<br />
If you experience any trouble in using the website, please let us know by sending an email to admin@hcsuzukiviolin.com<br />
<br />
For any other inquiries regarding the Suzuki music school, please contact Hannah Choi choi.hanna@gmail.com<br />
<br />
Thanks!<br />
HCSuzukiViolin.com Administrator
