Hi, <%= @account.fullname %>!<br />
<br />
<strong>Your account password has been rest!</strong><br/>
<br />
Your New Password: <%= @password %><br />
<br />
Please visit <a href="http://hcsuzukiviolin.com">http://hcsuzukiviolin.com/</a>, and change the password by click on the settings link at the top of the site.<br />
<br />
If you experience any trouble in using the website, please let us know by sending an email to admin@hcsuzukiviolin.com<br />
<br />
For any other inquiries regarding the Suzuki music school, please contact Hannah Choi choi.hanna@gmail.com<br />
<br />
Thanks!<br />
Web Administrator
