Hi, <%= @admin.fullname %>!<br />
<br />
<%= @new_account.fullname %> (<%= @new_account.email %>) just signed up for the gwsms.org site!<br />
<br />
Click <a href="http://gwsms.org/admin/user">here</a> to activate his or her account.<br />
<br />
If you cannot click on the link, copy and paste this URL: http://gwsms.org/admin/user<br />
<br />
Sincerely,<br />
GWSMS Administrator
