
<h2>Why SBC?</h2>

<img src="/images/sbc/building_character.png" align="right" />
<p>Experiences from early childhood lay the foundation for the child’s character and learning habits. From the birth, Suzuki Baby Class focuses on the natural development of a child through the rich and stimulating learning partnerships that develops with parents and teacher. This triangular partnership forms a health habit of learning, which will play a big role in the child’s success in the future.</p>

<h2>Our Program</h2>

<img src="/images/sbc/interactive_learning.png" align="right" />
<p>Our program invites parents and child to participate in weekly interactive music class. Through the class, children develop rhythmic and melodic awareness, discipline and social skills. Our job is to work with parents to build a repertoire of lullabies, action songs, and nursery rhymes. Parents are expected to listen to the songs and rhymes daily with their child.</p>

<br />

<img src="/images/sbc/class_of_love.png" align="left" />
<p style="margin-left: 170px;">The class is made up of active participants. Children watch the actions of the parent and gradually begin to imitate them. This process is one to be enjoyed and celebrated as new skills are developed. Our goal is to create an environment for children, free from pressure in which they can gain skills, a sense of purpose in life, and understanding of discipline and an appreciation of beauty all through love. ♥</p>


<h2>Participation</h2>
<p>SBC program provides musical education to babies from 0 years up to 3 years old. Classes are offered all year round on Saturdays. Parent participations are required.</p>


<h2>Tuition Information</h2>
<ul>
  <li>Tuition for 4 months: $500</li>
  <li>Tuition includes all the listening and written materials needed for the class plus $75 registration fee.</li>
</ul>

<small>*Tuition is subject to change. Please <a href="/sbc/contact">contact us</a> for the most up to date information.</small>
