<img src="/images/sbc/title.png" />

<img src="/images/sbc/sidepics.png" align="right" style="margin-left: 20px;" />

<div style="padding-left: 20px">
<p>Suzuki Baby Class from renowned HC Suzuki Violin Studio is an early childhood music education program targeted for babies, toddlers, and preschoolers. Our goal is to create an environment for children, free from pressure in which they can gain skills, a sense of purpose in life, and understanding of discipline and an appreciation of beauty all through love. ♥</p>

<p>SBC programs are based on the idea that all children are musical. With much loving support from parents and teachers, every child can learn to sing and keep a beat. But more importantly, children will build up his or her character, learn to respect others and lay strong foundation for future learning. As "music is the language of the heart without words", through music, not only children will grow up to be a musician but, more so, a beautiful human being.</p>

<p>Our studio has been providing the parents of Northen Virginia for the past 6 years the education that all our children need. With amazing talents and loving hearts from Ms. Hannah Choi and Ms. Summer Choi, the studio presents a family like environment to the students while providing challenging educational environment.</p>
</div>
