<h2>Upcoming Suzuki Baby Classes</h2>

<h3>March</h3>
<ul>
  <li>12th, Saturday</li>
  <li>19th, Saturday</li>
  <li>26th, Saturday</li>
</ul>

<h3>April</h3>
<ul>
  <li>9th, Saturday</li>
  <li>16th, Saturday</li>
</ul>

<h3>May</h3>
<ul>
  <li>7th, Saturday</li>
  <li>14th, Saturday</li>
  <li>21th, Saturday</li>
</ul>

<h3>June</h3>
<ul>
  <li>4th, Saturday</li>
  <li>11th, Saturday</li>
  <li>18th, Saturday</li>
  <li>25th, Saturday</li>
</ul>

<small>* All scheduled dates are subject to change.</small>
