<h2>Upcoming Suzuki Baby Classes</h2>

<h3>March</h3>
<ul>
  <li>12th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>19th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>26th, Saturday - 8:00 AM~ 9:00 AM</li>
</ul>

<h3>April</h3>
<ul>
  <li>09th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>16th, Saturday - 8:00 AM~ 9:00 AM</li>
</ul>

<h3>May</h3>
<ul>
  <li>07th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>14th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>21th, Saturday - 8:00 AM~ 9:00 AM</li>
</ul>

<h3>June</h3>
<ul>
  <li>4th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>11th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>18th, Saturday - 8:00 AM~ 9:00 AM</li>
  <li>25th, Saturday - 8:00 AM~ 9:00 AM</li>
</ul>

<small>* All scheduled dates are subject to change.</small>



<h2>Class Location</h2>

<ul><li> 7202 Carol Ln, Falls Church, VA 22042</li></ul>

<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=7202+Carol+Ln,%E2%80%A8Falls+Church,+VA+22042&amp;ie=UTF8&amp;hq=&amp;hnear=7202+Carol+Ln,+Falls+Church,+Fairfax,+Virginia+22042&amp;ll=38.865509,-77.192774&amp;spn=0.02339,0.051498&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=7202+Carol+Ln,%E2%80%A8Falls+Church,+VA+22042&amp;ie=UTF8&amp;hq=&amp;hnear=7202+Carol+Ln,+Falls+Church,+Fairfax,+Virginia+22042&amp;ll=38.865509,-77.192774&amp;spn=0.02339,0.051498&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>


