/* HTML TAGS */

body
{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 80%;
	background-color: #FFFFFF;
	color: #000000;
}




/* OBJECTS */




/* CLASSES */