<div id="album_navigation">

<<<<<<< HEAD
	<%= render_partial "album_inner_nav", :locals => { :album => @album, :photo => @photo, :paginated_photos => @paginated_photos, :per_page => @per_page} %>
=======
  <%= render :partial => "album_inner_nav", :locals => { :album => @album, :photo => @photo, :paginated_photos => @paginated_photos, :per_page => @per_page} %>
>>>>>>> deploy
</div>

