<!--
<div id="latest_comments">
<% for comment in @comments %>

	<p><span class="name"><%= comment.user.fullname %> said</a> <span class="comment">"<%= comment.content %>"</span></p>

<% end %>
</div>
-->