<h2>About us</h2>

<p>The Hannah Choi Suzuki Violin Studio is directed by Ms. Hannah Choi and offers the finest violin instruction. Our program includes private lessons, group classes, listening programs, recitals and concerts. Our course of study is rigorous while maintaining a fun, motivating, and encouraging atmosphere for our students.</p>
 
<p>We invite you to read about our program, visit our school, and consider having your child join us for an exciting adventure playing one of the most challenging and rewarding of instruments. </p>
 
<p>If after reading about us, you'd like more information, please contact us!  We look forward to speaking with you. </p>
 
<div id="contact">
    <strong>Hannah Choi</strong>,  Director<br />
    Falls Church, VA<br />
    Phone: 240-246-4553<br />
    E-mail: choi.hanna a_t gmail.com
</div>

