	<h3>Frequently Asked Questions</h3>

<ol>
	<li><h4>How may I enroll my child?</h4>
	<p>Fill out the registration form and sign the agreement form. Indicate your preferred lesson times on all of the available days of the week so I can schedule the lesson a lesson time for you. </p></li>
	
	<li><h4>How should we prepare to begin?</h4>
	<p>First of all, you need to come to 3 group classes with your child to observe.</p>
	<p>At this point if you and your child are eager to begin, you are invited to observe the individual lessons for the next six weeks. During this time you will receive the handbook which includes the agreement form and the registration from. Fill out the observation schedule and hand it in to the teacher. Then come to the studio to observe at least 6 private lessons. During this observation period, you will need to attend the parent education classes.</p>
	<p>Obtain all materials speciﬁed on “Materials List” (page 6).  I expect your child to have listened to the Suzuki recording from book one several times daily especially emphasizing the early half of the book for couple of weeks prior to the ﬁrst lesson. </p>
	<p>You and your child will have discussed the fact that he/she will not begin playing the violin right away. </p>

	<li><h4>Should I have my child practice with the instrument before the ﬁrst lesson? </h4>
	<p>Please DO NOT allow your child to attempt playing the violin. Children who handle their instruments prior to receiving instruction face the discouraging process of reversing unhealthy playing habits. Also, children who come to their ﬁrst lesson thinking they already know how to play are not easily receptive to instruction. Please come with them having this expectation. Your child must simply know that he/she is getting ready to play the violin.</p> </li>


	<li><h4>What can I expect to learn from the parent education class? What do I need to bring to the parent education classes? </h4>
	<p>You will learn about the 10 Suzuki philosophies, discuss about the observations you have done, learn about how to prepare your child before starting the lessons, learn the responsibilities as a parent at home and lessons, and watch the "Nurtured by Love" video. You will have reading assignments. You will learn to play the few first songs that your child is yet to play so you will need an instrument for yourself to play at the parent classes as well as at the first several lessons. You may use your child’s violin but if you can use a larger one you will be more comfortable. Don't forget to bring the handbook, something to take notes with, and lots of questions!</p> </li>

	<li><h4>When should we stop listening to the recording?</h4>
	<p>Continue to hear in your home and in your child’s presence, ﬁne music from your own  listening library and attend concerts with your child.  THIS IS THE ENVIRONMENTAL SOURCE OF TALENT.  It is your opportunity to give your child the gift of talent.</p> </li>

	<li><h4>Can I still observe even after I started the lessons? </h4>
	<p>You are encouraged to continue to observe the group classes of children who are in the program and are farther along. It is important for you to demonstrate your interest.  Also, you and your child will have ongoing exposure to what is next as well as to develop relationship with other families.</p></li>
