<div id="front_collage">
	<img src="images/frontpage/picA1.jpg" /><img src="images/frontpage/picA2.jpg" /><img src="images/frontpage/picA3.jpg" /><img src="images/frontpage/picA4.jpg" /><br />
	<img src="images/frontpage/picB1.jpg" /><img src="images/frontpage/picB2.jpg" /><img src="images/frontpage/picB3.jpg" /><img src="images/frontpage/picB4.jpg" /><br />
</div>


<div id="latest_news">
	<h3>Latest News:</h3>
	
	<ul>
			<li><span class="news_date">04-28-2008</span> Are you a parent at our school? Please <a href="/account/signup">sign up</a> to gain access to the <a href="/photobook">photobooks</a>.</li>
			<li><span class="news_date">04-28-2008</span> Website Launches!</li>
<!--		<li><span class="news_date">04-02-2008</span> This is the lastest news item</li> -->
	<ul>
</div>