<ul>
	<li>
		<h3>Jesus Loves Me</h3>
		<ul>
			<li>Listen<br />
				<object type="application/x-shockwave-flash" data="/dewplayer.swf?mp3=/jesuslovesme.mp3&amp;showtime=1" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="200" height="20" id="dewplayer" align="middle"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="sameDomain" /><param name="movie" value="/dewplayer.swf?mp3=/jesuslovesme.mp3&amp;showtime=1" /><param name="quality" value="high" /><param name="bgcolor" value="FFFFFF" /></object>
				<br />
			<li><a href="/jesuslovesme.mp3">Download</a> <small>(right click then "save as...")</small>
		</ul>
	</li>
</ul>
