<ul>
	<li>
		Jesus Loves Me
		<ul>
			<li>Listen: <object type="application/x-shockwave-flash" data="/dewplayer.swf?son=http://gwsms.org/jesuslovesme.mp3" width="200" height="20"><param name="movie" value="/datafiles/temp/dewplayer.swf?son=http://gwsms.org/jesuslovesme.mp3"><param name="bgcolor" value="#FFFFFF"></object>
			<li><a href="/jesuslovesme.mp3">Download</a>
		</ul>
	</li>
</ul>