<style type="text/css">
	.page_policy_and_tuition h2 {
		font-size: 2.2em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
	.page_policy_and_tuition h3 {
		font-size: 2em;
		margin-top: 40px;
        margin-bottom: 0;
		border-bottom: 1px solid silver;
	}
	.page_policy_and_tuition h4 {
		font-size: 1.3em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
	.page_policy_and_tuition h5 {
		font-size: 1.1em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
	.page_policy_and_tuition p {
        margin-top: 0.5em;
    }
	
	.page_policy_and_tuition table {
		margin-left: 50px;
		border-width: 1px;
		border-spacing: ;
		border-style: outset;
		border-color: gray;
		border-collapse: collapse;
		background-color: white;
	}
	.page_policy_and_tuition table th {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: gray;
		background-color: #eeffee;
		padding: 3px;
	}
	.page_policy_and_tuition table td {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: gray;
		padding: 3px;
	}
	
	td.section_head {
		background-color: rgb(255, 255, 240);
		
	}
	
	td.right {
		text-align: right;
	}

</style>

<div id="pnt">
  <h2>Policy and Tuition</h2>

  <p>
    Here you will find steps to enroll your child, information on our school Activities and Policies, and our list of materials required for beginning students.  This page must be gone over with your teacher prior to your acceptance in the program.  Continuing families should take the time to review these policies at least once a year.  If you have any questions after viewing our policies or should wish to enroll, please contact our director at HCsuzukiviolin a t gmail.com
  </p>
  <div id="toc">
    <h3>Table of Contents</h2>
    <ul>
      <li>
        <a href="#Enrollment">Enrollment</a>
      </li>
      <li>
        <a href="#Outline_of_Activities_and_Policies">Outline of Activities and Policies</a>
        <ul>
          <li><a href="#PURPOSE">PURPOSE</a></li>
          <li><a href="#CURRICULUM">CURRICULUM</a>
          <ul>
            <li><a href="#Listening">Listening</a></li>
            <li><a href="#Participating">Participating</a></li>
          </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#Calendar_and_Tuition">Calendar and Tuition</a>
        <ul>
          <li><a href="#CLASS_SCHEDULE_AND_ANNUAL_CALENDAR">CLASS SCHEDULE AND ANNUAL CALENDAR</a></li>
          <li><a href="#TUITION">TUITION</a></li>
          <li><a href="#PAYMENT_METHOD">PAYMENT METHOD</a></li>
          <li><a href="#BILLING_POLICIES">BILLING POLICIES</a></li>
          <li><a href="#CANCELLATION_POLICIES">CANCELLATION POLICIES</a>
          <ul>
            <li><a href="#Cancellation_by_the_Student">Cancellation by the Student</a></li>
            <li><a href="#Cancellation_by_the_Teacher">Cancellation by the Teacher</a></li>
          </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#Lines_of_Communication">Lines of Communication</a>
        <ul>
          <li><a href="#PERSON_TO_CONTACT">PERSON TO CONTACT</a>
          <ul>
            <li><a href="#Your_teacher">Your teacher</a></li>
            <li><a href="#Other_Parents">Other Parents</a></li>
          </ul>
          </li>
          <li><a href="#MEANS_OF_CONTACT">MEANS OF CONTACT</a>
          <ul>
            <li><a href="#Personal_Contact">Personal Contact</a></li>
            <li><a href="#E-mail">E-mail</a></li>
            <li><a href="#Telephone">Telephone</a></li>
          </ul>
          </li>
        </ul>
      </li>
    </ul>
</div>

<h3><a name="Enrollment"></a>Enrollment</h3>

  <p>We hope to better acquaint you with our program as you consider a commitment to providing this education for your child.</p>

  <p>Prior to full-fledged enrollment in the program, interested families must complete an Orientation Period. A complete Orientation Period includes all of the following activities:</p>

  <ul>
    <li>3 weeks of observation (with your child) of group classes</li>
    <li>6 weeks of observation (with your child) of private lessons</li>
    <li>Parent Education Classes (only the parents) Tuition: $150</li>
    <li>3 weeks of parent's lesson</li>
  </ul>

  <p>A detailed description of our program and fees follows. For information on where and when to observe our program, you may call us at 240-246-4553 or email us at hcsuzukiviolin@gmail.com for information We look forward to meeting you and answering any remaining questions.</p>

  <h3><a name="Outline_of_Activities_and_Policies"></a>Outline of Activities and Policies</h3>
  <div><small>Revised September 2009</small></div>

  <h4><a name="PURPOSE"></a>PURPOSE</h4>
  <p>As a parent you own the precious responsibility of creating an environment that fosters your child’s development of talent, skill, discipline, expressiveness, and joy.  It is our commitment to assist you in this endeavor.</p>

  <h4><a name="CURRICULUM"></a>CURRICULUM</h4>
    <h5><a name="Listening"></a>Listening</h5>

  <p>The success of Shinichi Suzuki's "Mother Tongue Approach" to music learning, modeled after native-language learning, depends heavily on the quantity and quality of a students listening activities.  Immersed in the following four indispensable elements of a stimulating listening environment, a young student rapidly develops his/her musical "vocabulary" and maintains a strong motivation to communicate in the language" of classical music.</p>

  <ul>
    <li>
    <strong>SUZUKI RECORDINGS</strong>
    <p>Daily saturation in the Suzuki repertoire recordings accelerates the students mastery of the repertoire and inspires the child to progress further.  Parents should purchase the recordings by David Cerone or William Preucil Jr.</p>
    </li>

    <li>
    <strong>CLASSICAL RECORDINGS/BROADCASTS</strong>
    <p>Recordings: Your private lesson teacher will assign "special listening" of non-Suzuki recordings each week.</p>
    <p>Broadcasts: By tuning in to broadcasts, you can surround your child with classical music in the home or vehicle.  On television, PBS occasionally broadcasts classical concerts.  On the  radio, two local FM stations continually play classical music: 90.9</p>
    </li>

    <li>
    <strong>LIVE CONCERTS</strong>
    <p>Classical concerts abound in Metropolitan area.  Many concerts are advertised in the newspapers, on the internet, or on the classical radio stations listed above.  Institutions such as the George Mason University, University of Maryland at College Park, the Peabody Conservatory, the National Symphony Orchestra, the Baltimore Symphony Orchestra and other metropolitan area provide excellent opportunities to observe everything from graduate student recitals to world class ensembles and soloists - sometimes at no charge.</p>
    </li>

    <li>
    <strong>OBSERVATION OF OTHER SUZUKI STUDENTS</strong>
    <p>The families enrolled in our program form a community in which multiple students and parents can simultaneously glean knowledge and inspiration from a teacher and from each other.  Two basic settings foster this community:</p>
    <ol>
      <li>Group Classes provide the opportunity for the enrollees not only to participate in their own classes, but also to observe more advanced students.</li>
      <li>Despite their misleading name, "private" lessons can provide public benefits.  Dr. Suzuki was reportedly shocked to discover an American teacher giving a private lesson in the presence of only one student and one parent.  Observers multiply the fruitfulness of a lesson.</li>
    </ol>
    </li>
  </ul>

  <h5><a name="Participating"></a>Participating</h5>

  <p>A parent must accompany a child participating in any of the following activities except parent meetings:</p>
  <ul>
    <li>
    <strong>HOME PRACTICE</strong>

    <p>Enrollment in the program requires a significant commitment of time and care.  Committed families value their precious investment in the child's musical development.  Generally, a beginner requires two or three daily practice sessions of 10-15 minutes each.  As the student progresses, daily practice time increases according to the following minimum schedule:</p>

    <ul>
      <li>Book 1: 30 minutes for a minimum of 6 days a week</li>
      <li>Books 2-3: 45 minutes for a minimum of 6 days a week</li>
      <li>Books 4-5: 60 minutes for a minimum of 6 days a week</li>
      <li>Books 6 and above: 90 minutes for a minimum of 6 days a week</li>
    </ul>
    <p>Students not willing to meet these basic practice requirements should not apply for matriculation in this program.  In reality, for a child in book 6 or above who really wishes to be proficient or is looking for a professional career, 2-5 hours of practice a day would be a more appropriate target practice amount </p>
    </li>
    <li>
    <strong>GROUP CLASSES</strong>

    <p>Each child is assigned a group class time.  Participation in group-classes is one of the most vital parts of the students' development.  Students are expected to attend and parents are expected to see to it that group materials are followed up on at home practice every week.  Too often, important information that could be mastered in one week is flippantly approached at home, and the student consequently takes months to accomplish simple tasks, thereby slowing down the progress of the group.  Please see to it that your child is not the "weakest link."</p>
    </li>
    <li>
    <strong>PRIVATE LESSONS AND NOTE TAKING</strong>
    <p>In private lessons, your child receives the individualized instruction so crucial to his/her development.  Lesson scheduling is arranged directly between you and your teacher.</p>

    <p>Unless the students is a very advanced violinist, it is expected of the parent to be present (both physically and mentally!) and to take detailed notes at every lesson. Often, your child and I are working too quickly to mark things down “on the fly.”  You need to keep a detailed list of what was covered so that the week’s practice can be profitable.  When your child comes for the next weeks lesson, please be prepared to tell me what we covered in the previous week and how you and your child fared at home.</p>

    <p>Siblings are highly encouraged at lessons, but the expectation is that they will not be distracting either you or the student during the lesson.  If they are attempting to speak to you, please quiet them quickly and train them to sit and listen.  Please do not begin or maintain conversations with them.  Such activity conveys a lack of interest to both the student and to me, and the week’s practice will suffer - guaranteed!</p>
    </li>
    <li>
    <strong>RECITALS</strong>
    <p>Periodically the students of the program share their music with friends and family in a public, formal concert.  After an exciting program of solo and group performances, students celebrate with their guests in a reception.</p>
    </li>
    <li>
    <strong>PARENT MEETINGS</strong>
    <p>Occasionally, we will have parent meetings at which we can discuss issues relating to your child's education.  These meetings are very beneficial and are included in your lesson fee.</p>
    </li>
    <li>
    <strong>REGIONAL EVENTS</strong>

    <p>Suzuki students worldwide form a special community of children and parents who share a commitment to similar musical goals and philosophies and who play the identical beginning repertoire.  The Suzuki Association of the Americas (SAA) and the Suzuki Association of the Greater Washington Area (SAGWA) host occasional regional events that allow your child to join a large group of Suzuki students in performances and classes.</p>
    </li>
  </ul>

  <h3><a name="Calendar_and_Tuition"></a>Calendar and Tuition</h3>

    <h4><a name="CLASS_SCHEDULE_AND_ANNUAL_CALENDAR"></a>CLASS SCHEDULE AND ANNUAL CALENDAR</h4>
  <p>Both group and private lessons operate on a three-week-on-one-week-off lesson schedule.  This program offers instruction based on a academic school year.  Each student annually receives a minimum of 30 weeks of instruction. Students will usually (see BILLING POLICIES section below) have three private lessons and two or three group lessons a month. Your individual private and group lesson times will be worked out with your teacher.</p>

  <h4><a name="TUITION"></a>TUITION</h4>
  <p>Tuition covers the combined program of group and private lessons and occasional parent meetings.  Lessons and group classes are not offered separately.  The one exception is for those students in Book 9 and above.  These students may elect for only private lessons (with no change in lesson fees).</p>

<table>
	<thead>
		<tr><th height="40">Book</th><th>Tuition</th></tr>
	</thead>
	<tbody>
		<tr><td>Students in Book I - II (three 30 minute lessons+groups)</td><td class="right">$135 per month</td></tr>
		<tr><td>Students in Book III - VIII (three 45 minute lessons+groups)</td><td class="right">$165 per month</td></tr>
		<tr><td>Students in Book IX+ (three 45 minute lessons+optional group)</td><td class="right">$165 per month</td></tr>
	</tbody>
</table>

<h4><a name="PAYMENT_METHOD"></a>PAYMENT METHOD</h4>
  <p>Tuition is due on the first Monday of each month.  Make checks payable to Brook Moes.  Note on the check which month the payment is for and mail it to: 2441 Cow Kick Rd, Angels Camp, CA 95222.</p>

  <h4><a name="BILLING_POLICIES"></a>BILLING POLICIES</h4>
  <p>Unless a student withdraws from the Suzuki Violin Program completely, a student will be charged for tuition every month, regardless of the amount of participation.  The tuition remains the same regardless of the number of lessons received in a given month.  Given the three-on-one-off schedule, students may have four lessons instead of three in those months with five weeks.  <strong>Tuition remains the same.  No additional lesson fees apply.</strong>  Conversely but less frequently, in certain months (months with major holidays, for example) students may have less than three private and/or group lessons.  Again, monthly tuition remains the same regardless of the number of lessons received in a given month.  <strong>A late fee</strong> ($6 per student per month overdue) will be charged of any family that does not pay the expected amount by the first Monday of each month. </p>
  <p><em>Lessons will be discontinued if tuition is two months overdue. Lessons will resume once the balance has been paid in full.</em></p>

  <h4><a name="CANCELLATION_POLICIES"></a>CANCELLATION POLICIES</h4>
    <h5><a name="Cancellation_by_the_Student"></a>Cancellation by the Student</h5>
  <ul>
    <li>
    <strong>GROUP CLASSES</strong>
    <p>Should you and your child choose to miss a group class during any week, please give your group class teacher as much advance notice as possible (Email is always good).  Unexplained absence from group classes undermines the power of our work and demoralizes other members of the class.  If the teacher can inform the class that your child's absence was caused by an illness, a flat tire, or an annual family trip, the class will understand the absence not as lack of interest or that the absentee is letting them down.  If absences are not explained they appear as an indication of weak commitment.</p>
    <p><strong><em>There are no bill adjustments for missed classes.</em></strong></p>
    <p>Student participation is expected at all scheduled group classes.  Skill development, refined musicianship and recital preparation are goals of these classes.  Additional to faithful participation in all classes of the semester, students must participate in at least three of the last four group classes in order to perform the group pieces with his/her class.  Students should expect to perform in the recital only pieces that are well polished and at least two pieces prior to their current lesson piece.</p>
    <p>Student participation is expected at all scheduled group classes.  Skill development, refined musicianship and recital preparation are goals of these classes.  Additional to faithful participation in all classes of the semester, students must participate in at least three of the last four group classes in order to perform the group pieces with his/her class.  Students should expect to perform in the recital only pieces that are well polished and at least two pieces prior to their current lesson piece.</p>
    </li>
    <li>
    <strong>PRIVATE LESSONS</strong>
    <p><strong>A private lesson missed or canceled at any time by the student for any reason will not be made up, nor will tuition be refunded.</strong>  However, students who miss a lesson may pursue the following options:
    <ul>
      <li>Trade lessons times with another student, using your copy of your teachers complete teaching schedule and phone list.</li>
      <li>Call your teacher if you cannot succeed with the above option. The teacher will add your name to a list of his/her students who have missed lessons.  When another student misses a subsequent appointment, your teacher may call students from the list to offer the time. There is no guarantee of an opportunity for a make-up lesson.</li>
    </ul>
    </li>
  </ul>

  <h5><a name="Cancellation_by_the_Teacher"></a>Cancellation by the Teacher</h5>
  <p>Lessons missed or canceled at any time by the teacher for any reason will be made-up in a timely manner.</p>

  <h3><a name="Lines_of_Communication"></a>Lines of Communication</h3>
  <p>I wish to efficiently answer your questions in a timely and efficient manner.  To direct your inquiry most efficiently please use the following guidelines:</p>
  <h4><a name="PERSON_TO_CONTACT"></a>PERSON TO CONTACT</h4>
    <h5><a name="Your_teacher"></a>Your teacher</h5>
  <p>While your child may occasionally receive occasional instruction from the parent (assistant teacher), your teacher functions as your primary provider of individual music assistance.  Communicate with him or her if you...</p>
  <ul>
    <li>... have questions about HOW or WHAT to practice at home</li>
    <li>... have concerns related to your private lessons</li>
    <li>... need advice in choosing or maintaining an instrument or other materials</li>
    <li>... must cancel a lesson (see guidelines above)</li>
    <li>... and another student have decided to permanently trade lesson times</li>
    <li>... have questions about how to prepare at home for group class</li>
    <li>... have concerns related to your group class</li>
    <li>... must miss a group (see cancellation guidelines above)</li>
    <li>... have questions about charges on your student account</li>
    <li>... have any scheduling question period</li>
    <li>... would like information about anything mentioned in this handout</li>
  </ul>

  <h5><a name="Other_Parents"></a>Other Parents</h5>
  <p>You and other parents sitting right next to you in group class may be able to exchange a wealth of wisdom on issues such as home practice, instrument purchases and concert attendance.</p>
  
  <h4><a name="MEANS_OF_CONTACT"></a>MEANS OF CONTACT</h4>
  <p>Following are several means of contact in descending order of preference.</p>
  <h5><a name="Personal_Contact"></a>Personal Contact</h5>
  <p>Whenever possible, inquiries should be directed to your teacher during regularly scheduled sessions such as private lessons, group classes, or parent meetings.  If a parent desires a private conversation with his/her private-lesson teacher, the parent should ask the child to wait inside the classroom while the teacher and parent step into the hallway to talk for a few minutes.</p>
  
  <h5><a name="E-mail"></a>E-mail</h5>
  <p>Although you may not receive an immediate response, e-mail permits you to contact your teacher without interrupting the lesson schedule.  For non-urgent matters, please use e-mail.  All participating families must have access to e-mail, since almost all important studio information will be transmitted this way.</p>
  
  <h5><a name="Telephone"></a>Telephone</h5>
  <p>If you do not succeed with the above methods, please feel free to place a phone call, maintaining your sensitivity to the time constraints of the person receiving the phone call.</p>

  <p><em><strong>Your enrollment in this studio signifies acceptance of the above policies.</em></strong></p>
  




</div>


