<style type="text/css">
	.page_policy_and_tuition h3 {
		font-size: 2em;
		margin-top: 40px;
		border-bottom: 1px solid silver;
	}
	
	.page_policy_and_tuition table {
		margin-left: 50px;
		border-width: 1px;
		border-spacing: ;
		border-style: outset;
		border-color: gray;
		border-collapse: collapse;
		background-color: white;
	}
	.page_policy_and_tuition table th {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: gray;
		background-color: #eeffee;
		padding: 3px;
	}
	.page_policy_and_tuition table td {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: gray;
		padding: 3px;
	}
	
	td.section_head {
		background-color: rgb(255, 255, 240);
		
	}
	
	td.right {
		text-align: right;
	}

</style>

<div id="pnt">
<h3>Tuition</h3>

<p>The tuition includes individual lessons and group classes. 
Group class participation is required, and is not optional. 
The fall semester begins on 9/2/08 and ends on 1/24/09 
and the spring semester will begin on 1/26/09 and end of 
6/13/09. Summer lessons will be offered as well.</p>

<table>
	<thead>
		<tr><th width="170" height="40">Duration</th><th width="100">Rate</th><th>Notes</th></tr>
	</thead>
	<tbody>
		<tr><td class="section_head" colspan="3"><strong>Semester Tuition Rate</strong></td></tr>
		<tr><td class="right">30 minute lesson</td><td class="right">$1,012.50</td><td>Beginner and Book 1</td></tr>
		<tr><td class="right">45 minute lesson</td><td class="right">$1,331.25</td><td>Book 2 and 3</td></tr>
		<tr><td class="right">60 minute lesson</td><td class="right">$1,650.00</td><td>Book 4 and up</td></tr>

		<tr><td class="section_head" colspan="3"><strong>Registration Fee</strong></td></tr>
		<tr><td class="right">Per year</td><td class="right">$40.00</td><td></td></tr>

		<tr><td class="section_head" colspan="3"><strong>Workshop Tuition Rate</strong></td></tr>
		<tr><td class="right">60 minute lesson</td><td class="right">$85.00</td><td></td></tr>
	</tbody>
</table>

<p>The semester tuition is due on the ﬁrst day of the lesson. If 
you need special accommodations in paying off the 
tuition, please consult your teacher. </p>

<h3>Missed Individual Lessons</h3>

<p>Lessons missed by the instructor at any time for any 
reasons will be made-up or tuition refunded. Any lessons 
missed by the student for any reason will not receive a 
make up lesson or tuition refunded. A request for a make 
up lesson can be submitted 48 hours prior to the lesson to 
be missed. However, please note that make up lesson is 
NOT GUARANTEED. To avoid missing a lesson, you may 
trade a lesson time with another student within the same 
week of student’s absent day. Students who must miss 
series of lessons should inform the teacher before the ﬁrst 
lesson of the semester to arrange a leave of absence with 
possible adjustment in individual lesson fees. </p>


<h3>Group Classes</h3>

<p>There are total of 15 groups classes this semester. On 
certain weeks, group classes are scheduled on Friday and 
others are on Saturday. </p>

<p>Participation in group lessons is a vital part of our 
children’s development. <strong>Students are expected to attend 
all scheduled group classes</strong> and will be billed 
accordingly. Attendance at lessons demonstrates 
commitment. Instructors are interested in reserving time to 
work with students and families who are committed to this 
education. Should you choose to miss a group lesson, 
please inform your group instructor before the group to be  
missed. Absence from group classes undermines the 
power of our work and demoralizes other member of the 
class. If the class can be told that you are ill or are taking 
SAT’s, they will understand your absence not as lack of 
interest or that you are letting them down. If absences are 
not explained, they are understood to indicate weak 
commitment. If you have more than 2 unexplained 
absences, you will not be allowed to perform at a group 
recital. </p>


<h3>Cancellation</h3>

<p>No tuition will be refunded unless you are moving out of 
the state. </p>


<h3>Locations</h3>
<ul>
	<li><strong>Group classes @ Columbia Baptist Church</strong>
		<p>103 West Columbia St.<br />Falls Church, VA 22046 in room 328</p></li>
	<li><strong>Individual lessons</strong>
		<ul>
			<!--
			<li><em>Children's House Montessori School</em>
				<p>2425 N Glebe Rd<br />
				Arlington, VA 22207<br />
				(703) 276-1360</p></li>
			-->
			<li>
				505 Roosevelt Boulevard, Apt. #B124<br />
				Falls Church, Virginia  22044</li>
			<li>
				103 West Columbia St. - room 327<br />
				Falls Church, VA 22046</li>
		</ul></li>
</ul>

<hr>

<p><strong>Your participation in this program signiﬁes acceptance 
of these policies.</strong></p>
</div>


</div>
