<style type="text/css">
	.page_policy_and_tuition h3 {
		font-size: 2em;
		margin-top: 40px;
		border-bottom: 1px solid silver;
	}
	
	.page_policy_and_tuition table {
		margin-left: 50px;
		border-width: 1px;
		border-spacing: ;
		border-style: outset;
		border-color: gray;
		border-collapse: collapse;
		background-color: white;
	}
	.page_policy_and_tuition table th {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: gray;
		background-color: #eeffee;
		padding: 3px;
	}
	.page_policy_and_tuition table td {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: gray;
		padding: 3px;
	}
	
	td.section_head {
		background-color: rgb(255, 255, 240);
		
	}
	
	td.right {
		text-align: right;
	}

</style>

<div id="pnt">

  <p>
    Here you will find steps to enroll your child, information on our school Activities and Policies, and our list of materials required for beginning students.  This page must be gone over with your teacher prior to your acceptance in the program.  Continuing families should take the time to review these policies at least once a year.  If you have any questions after viewing our policies or should wish to enroll, please contact our director at HCsuzukiviolin@gmail.com
  </p>

  <h3>Enrollment</h3>

  <p>We hope to better acquaint you with our program as you consider a commitment to providing this education for your child.</p>

  <p>Prior to full-fledged enrollment in the program, interested families must complete an Orientation Period. A complete Orientation Period includes all of the following activities:</p>

  <ul>
    <li>3 weeks of observation (with your child) of group classes</li>
    <li>6 weeks of observation (with your child) of private lessons</li>
    <li>Parent Education Classes (only the parents) Tuition: $150</li>
    <li>3 weeks of parent's lesson</li>
  </ul>

  <p>A detailed description of our program and fees follows. For information on where and when to observe our program, you may call us at 240-246-4553 or email us at hcsuzukiviolin@gmail.com for information We look forward to meeting you and answering any remaining questions.</p>

  <h3>Outline of Activities and Policies</h3>
  <div><small>Revised September 2009</small></div>

  <h4>PURPOSE</h4>
  <p>As a parent you own the precious responsibility of creating an environment that fosters your child’s development of talent, skill, discipline, expressiveness, and joy.  It is our commitment to assist you in this endeavor.</p>

<h3>Tuition</h3>

<p>The tuition includes individual lessons and group classes. 
Group class participation is required, and is not optional. 
The fall semester begins on 9/8/09 and ends on 2/6/10
and the spring semester will begin on 2/8/10 and end of 
6/26/10. Summer lessons will be offered as well.</p>

<table>
	<thead>
		<tr><th width="170" height="40">Duration</th><th width="100">Rate</th><th>Notes</th></tr>
	</thead>
	<tbody>
		<tr><td class="section_head" colspan="3"><strong>Semester Tuition Rate</strong></td></tr>
		<tr><td class="right">30 minute lesson</td><td class="right">$975.00</td><td>Beginner and Book 1</td></tr>
		<tr><td class="right">45 minute lesson</td><td class="right">$1,275.00</td><td>Book 2 and 3</td></tr>
		<tr><td class="right">60 minute lesson</td><td class="right">$1,575.00</td><td>Book 4 and up</td></tr>

		<tr><td class="section_head" colspan="3"><strong>Registration Fee</strong></td></tr>
		<tr><td class="right">Per year</td><td class="right">$40.00</td><td></td></tr>

		<tr><td class="section_head" colspan="3"><strong>Workshop Tuition Rate</strong></td></tr>
		<tr><td class="right">60 minute lesson</td><td class="right">$85.00</td><td></td></tr>
	</tbody>
</table>

<p>The semester tuition is due on the ﬁrst day of the lesson. If 
you need special accommodations in paying off the 
tuition, please consult your teacher. </p>

<h3>Missed Individual Lessons</h3>

<p>Lessons missed by the instructor at any time for any 
reasons will be made-up or tuition refunded. Any lessons 
missed by the student for any reason will not receive a 
make up lesson or tuition refunded. A request for a make 
up lesson can be submitted 48 hours prior to the lesson to 
be missed. However, please note that make up lesson is 
NOT GUARANTEED. To avoid missing a lesson, you may 
trade a lesson time with another student within the same 
week of student’s absent day. Students who must miss 
series of lessons should inform the teacher before the ﬁrst 
lesson of the semester to arrange a leave of absence with 
possible adjustment in individual lesson fees. </p>


<h3>Group Classes</h3>

<p>There are total of 15 groups classes this semester. On 
certain weeks, group classes are scheduled on Friday and 
others are on Saturday. </p>

<p>Participation in group lessons is a vital part of our 
children’s development. <strong>Students are expected to attend 
all scheduled group classes</strong> and will be billed 
accordingly. Attendance at lessons demonstrates 
commitment. Instructors are interested in reserving time to 
work with students and families who are committed to this 
education. Should you choose to miss a group lesson, 
please inform your group instructor before the group to be  
missed. Absence from group classes undermines the 
power of our work and demoralizes other member of the 
class. If the class can be told that you are ill or are taking 
SAT’s, they will understand your absence not as lack of 
interest or that you are letting them down. If absences are 
not explained, they are understood to indicate weak 
commitment. If you have more than 2 unexplained 
absences, you will not be allowed to perform at a group 
recital. </p>

<!--
<h3>Cancellation</h3>

<p>No tuition will be refunded unless you are moving out of 
the state. </p>
-->

<h3>Locations</h3>
<ul>
	<li><strong>Group classes @ Columbia Baptist Church</strong>
		<p>103 West Columbia St.<br />Falls Church, VA 22046 in room 328</p></li>
	<li><strong>Individual lessons</strong>
		<ul>
			<!--
			<li><em>Children's House Montessori School</em>
				<p>2425 N Glebe Rd<br />
				Arlington, VA 22207<br />
				(703) 276-1360</p></li>
			-->
			<li>
                7202 Carol Ln.<br/>
                Falls Church, VA 22042</li>
			<li>
				103 West Columbia St. - room 327<br />
				Falls Church, VA 22046</li>
		</ul></li>
</ul>

<hr>

<p><strong>Your participation in this program signiﬁes acceptance 
of these policies.</strong></p>
</div>


</div>

