<div style="padding: 0 20px;">
<p>The winter group concert is on December 19, 2009, Saturday. Time and location is TBA.  The student must be at least two pieces ahead to be allowed to perform at the recital. Please consult with your teacher.</p>

<h3>Book 1</h3>

<ul>
<li>All twinkle variations</li>

<li>Lightly Row</li>

<li>Song of the Wind</li>

<li>Go Tell Aunt Rhody</li>

<li>Allegro</li>

<li>Andantino</li>

<li>Etude</li>

<li>Happy Farmer</li>

<li>Minuet 3</li>

<li>Gossec's Gavotte</li>
</ul>

 

<h3>Book 2</h3>

<ul>
    <li>Chorus from Judas Maccabaeus</li>

    <li>Gavotte from Mignon</li>
</ul>

 

<h3>Book 3</h3>

<ul>
<li>G minor Gavotte by Bach</li>
</ul>

 

<h3>Book 4</h3>

<ul>
<li>Seitz Violin Concerto #2 in G Major, Op. 13, III: Allegretto moderato</li>

<li>Vivaldi Violin concerto in A minor, Op. 3, No. 6, I: Allegro </li>
</ul>

<h3>Book 5</h3>

<ul>
    <li>Vivaldi Violin Concerto in G minor, III: Allegro </li>

    <li>German Dance </li>

</ul>
 

<h3>Book 6</h3>

<ul>
    <li>Gavotte by Rameau</li>
</ul>
 

<h3>Book 7</h3>

<ul>
<li>Bach Violin Concerto No. 1, III: Allegro Assai</li>
</ul>

 

<h3>Book 8 </h3>

<ul>
<li>Tambourine by Gretry </li>

<li>Largo by Bach</li>

<li>---------</li>

<li>Tempo Di Minuetto*</li>

<li>Turkish march</li>

<li>Syncopation *</li>

<li>Vivaldi violin quartet*</li>

<li>*only by consultation with the teacher</li>
</ul>

</div>
