Below is a list of resources that might help in Suzuki program.
<ul>
    <li><a href="/files/material_list.pdf">Material List <img height="18" class="icon" src="/images/icons/pdf_small.gif"></a></li>
    <li><a href="/files/handbook_fall_2008.pdf">2008~2009 Handbook <img height="18" class="icon" src="/images/icons/pdf_small.gif"></a></li>
</ul>
