div#student_list {
  width: 160px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

div#side_list {
  width: 160px;
}

#content_no_side.registration_schedule {
  padding: 0 5px;
}

div#mouseover_name {
  font-size: 1.5em;
  white-space: nowrap;
  margin-bottom: 10px;
}
