div.school {
	margin-bottom: 20px;
}

div.school_name {
	font-weight: bold;
	font-size: 1.2em;
	color: #56a;
}

div.school table {
	border-collapse: collapse;
	border: none;
}

div.school textarea {
	width: 97px;
	height: 36px;
	font-size: 10px;
}

div#calendar table {
	border-collapse: collapse;
	border: 1px solid silver;
	background-color: white;	
}

div#calendar table th {
	background-color: #afc;
	border: 1px solid silver;	
	border-bottom: 2px solid silver;	
}

div#calendar table td {
	border: 1px solid silver;
}

div#calendar table td.cells {
	vertical-align: top;
	font-size: 0.8em;
}

div#calendar table td.off_day {
	background-color: #ddd !important;
}

div#calendar table td.group_day {
	background-color: #fcc !important;
}

div#calendar table td div.date {
	text-align: center;
	font-weight: bold;
	width: 82px;
	margin-bottom: 5px;
}

div#calendar table td.week_no {
	background-color: #eee;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;	
	height: 75px;
}

div#calendar table td.counters {
	height: 20px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	background-color: #eff;
	color: red;
}

div#calendar table td.odd_month {
	background-color: #fff;
}

div#calendar table td.even_month {
	background-color: #efe;
}

div#calendar table input.notes {
	border: 1px solid transparent;
	width: 80px;
	font-size: 9px;
	background-color: transparent;
	color: red;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#calendar table input.notes:hover {
	border: 1px solid silver;
}

div#calendar table input.notes:focus {
	border: 1px solid silver;
	background-color: white;
}

input.opt {
	width: 350px;
}

tr.pricing td {
  text-align: center;
}
