/* @group admin */

div#body.admin a {
	color: #2b4894;
	text-decoration: none;
}

div#banner_wrapper.admin {
	background-color: #5c5c5c;
}

div#section_title.admin {
	background-color: #ababab;
}

div#toolbar #menu.admin li:hover {
	background-color: #f1f1f1;
}


table.admin_table {
	width: 100%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

table.admin_table th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: dotted;
	border-color: gray gray gray gray;
	background-color: #b1cefe;
}

table.admin_table th.selected {
	background-color: #d1fdd3;
}



table.admin_table td {
	border: 1px dotted silver;
	padding: 5px;
}

table.admin_table tr.even td {
	background-color: #fcfcfc;	
}

table.admin_table tr.odd td {
	background-color: #eaeaea;	
}

table.admin_table tr.hightlight td {
	background-color: #ead887;	
}



/* @end */