/* @group admin */

div#body.admin a {
	color: #2b4894;
	text-decoration: none;
}

div#banner_wrapper.admin {
	background-color: #5c5c5c;
}

div#section_title.admin {
	background-color: #ababab;
}

div#toolbar #menu.admin li:hover {
	background-color: #f1f1f1;
}


table.admin_table {
	width: 100%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

table.admin_table th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: dotted;
	border-color: gray gray gray gray;
	background-color: #b1cefe;
}

table.admin_table th.selected {
	background-color: #d1fdd3;
}



table.admin_table td {
	border: 1px dotted silver;
	padding: 5px;
}

table.admin_table tr.even td {
	background-color: #fcfcfc;	
}

table.admin_table tr.odd td {
	background-color: #eaeaea;	
}

table.admin_table tr.hightlight td {
	background-color: #ead887;	
}




#body.admin_summer_add, #body.admin_summer_schedule {
	width: 95%;
	margin: 0px auto;
}


table.calendar {
	width: 100%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

table.calendar th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: dotted;
	border-color: gray gray gray gray;
	background-color: #b1cefe;
}

table.calendar th.flex {
	width: 16%;
}

table.calendar td {
	border: 1px dotted silver;
	padding: 5px;
}

table.calendar td .date {
	font-family: Georgia;
	font-size: 20px;
	text-align: right;
	margin-bottom: 5px;
}

table.calendar td.not_active {
	color: silver;
}

table.calendar td.active {
	background-color: #e2fde6;
}

table.calendar td.active textarea {
	width: 100%;
}

div#calendar_table {
	margin-left: 170px;
}

table.main {
	width: 100%;
	margin: 0;
}

table.main th.flex {
	width: 20%;
}


table.main td div.date {
	background-color: #ffe5eb;
	font-size: 12px;
	text-align: center;
	height: 17px;
	margin: 0;
	padding: 0;
}

table.main td {
	border: 1px solid silver;
	padding: 0px;
}

table.main td.not_active {
	background-color: #f0f0f0;
}

table.calendar td.active {
	background-color: #fff;
}

div#side_list {
	float: left;
	border: 1px inset silver;
	width: 150px;
	min-height: 500px;
	padding-left: 5px;
	background-color: #f3f3f3;
}

div#side_list ul {
	margin: 0;
	padding: 0;
}

div#side_list ul {
	margin: 0;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	list-style-type: none;
}

img.calendar_bar {
	margin-left: 5px;
}


/* @end */