/* @group admin */

div#body.admin a {
	color: #2b4894;
	text-decoration: none;
}

div#banner_wrapper.admin {
	background-color: #5c5c5c;
}

div#section_title.admin {
	background-color: #ababab;
}

div#toolbar #menu.admin li:hover {
	background-color: #f1f1f1;
}


table.admin_table {
	width: 100%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

table.admin_table th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: dotted;
	border-color: gray gray gray gray;
	background-color: #b1cefe;
}

table.admin_table th.selected {
	background-color: #d1fdd3;
}



table.admin_table td {
	border: 1px dotted silver;
	padding: 5px;
}

table.admin_table tr.even td {
	background-color: #fcfcfc;	
}

table.admin_table tr.odd td {
	background-color: #eaeaea;	
}

table.admin_table tr.hightlight td {
	background-color: #ead887;	
}






#body.admin_summer_add, #body.admin_summer_schedule {
	width: 100%;
	margin: 0px auto;
}

#content_no_side.admin_summer_schedule {
	padding-left: 5px;
	padding-right: 5px;
}


table.calendar {
	width: 100%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

table.calendar th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: dotted;
	border-color: gray gray gray gray;
	background-color: #b1cefe;
}

table.calendar th.flex {
	width: 16%;
}

table.calendar td {
	border: 1px dotted silver;
	padding: 5px;
}

table.calendar td .date {
	font-family: Georgia;
	font-size: 20px;
	text-align: right;
	margin-bottom: 5px;
}

table.calendar td.not_active {
	color: silver;
}

table.calendar td.active {
	background-color: #e2fde6;
}

table.calendar td.active textarea {
	width: 100%;
}

div#calendar_table {
	margin-left: 170px;
}

table.main {
	width: 100%;
	margin: 0;
}

table.main th.flex {
	width: 20%;
}


table.main td div.date {
	background-color: #ffc5c5;
	font-size: 12px;
	text-align: center;
	height: 17px;
	margin: 0;
	padding: 0;
	color: #333;
}

table.main td {
	border: 1px solid silver;
	padding: 0px;
}

table.main td.not_active {
	background-color: #f0f0f0;
}

table.main td.active {
	background-color: #fff;
}

div#side_list {
	float: left;
	border: 1px inset silver;
	width: 150px;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #f3f3f3;
	position: relative;
}

div#side_list h3 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

div#side_list ul {
	margin: 0;
	padding: 0;
}

div#side_list li {
	margin: 0;
	margin-left: 10px;
	list-style-type: none;
	font-size: 10px;
}

img.calendar_bar {
	margin-left: 4px;
	float: left;
	position: relative;
	z-index: 1;
}

div.lesson_bar {
	padding-top: 1px;
	border: 1px solid white;
	font-size: 9px;
	color: white;
	position: absolute;
	z-index: 2;
	overflow: hidden;
}
div.studentname {
	color: white;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	cursor: pointer;
	width: 50px;
	margin-right: 5px;
}

span#mouseover_name {
	border: 5px solid red;
	background-color: white;
	font-size: 14px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-shadow: 2px 2px 10px #888;
	opacity: 0.8;
	z-index: 3;
}

div.legend {
	border: 1px dotted silver;
	font-size: 10px;
	text-align: center;
	padding: 2px;
	margin: 2px;
}

div#event_dialog {
	border: 5px solid red;
	background-color: white;
	font-size: 14px;
	padding: 10px;
	position: absolute;
	-webkit-box-shadow: 2px 2px 10px #888;
	top: 500px;
	left: 400px;
	opacity: 0.8;
	z-index: 4;
}

div#event_dialog input.text {
	padding-left: 5px;
}

div#event_dialog form {
	margin: 0;
}

div#xy {
	text-align: center;
	width: 60px;
	position: absolute;
	top:0;
	left:0;
	background-color: white;
	border: 5px solid orange;
	padding: 10px;
	-webkit-box-shadow: 2px 2px 10px #888;
	opacity: 0.6;
	z-index: 3;
}

span.lesson_text {
	padding-left: 5px;
	position: absolute;
}

div.lesson_list {
	width: 200px;
	border: 5px solid silver;
	background-color: white;
	-webkit-box-shadow: 2px 2px 10px #888;
	position: absolute;
	left: 125px;
	padding: 10px;
	z-index: 4;
}

div.lesson_list ul {
	margin: 0;
	padding: 0;
}

div.lesson_list ul li {
	list-style-type: decimal;
	padding-left: 0px;
	padding-top: 4px;
}

/* @end */