div#menu a.home {
	border-top: 5px solid green;
}





/* @group summer_schedule */
#body.page_summer_schedule_2008 {
	width: 1000px;
	margin: 0px auto;
}


table.calendar {
	width: 100%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

table.calendar th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: dotted;
	border-color: gray gray gray gray;
	background-color: #b1cefe;
}

table.calendar th.flex {
	width: 16%;
}

table.calendar td {
	border: 1px dotted silver;
	padding: 5px;
}

table.calendar td .date {
	font-family: Georgia;
	font-size: 20px;
	text-align: right;
	margin-bottom: 5px;
}

table.calendar td.not_active {
	color: silver;
}

table.calendar td.active {
	background-color: #e2fde6;
}

table.calendar td.active textarea {
	width: 100%;
}

div#calendar_table {
	margin-left: 135px;
}

table.main {
	width: 99%;
	margin: 0;
}

table.main th.flex {
	width: 20%;
}


table.main td div.date {
	background-color: #ffc5c5;
	font-size: 12px;
	text-align: center;
	height: 17px;
	margin: 0;
	padding: 0;
	color: #333;
}

table.main td {
	border: 1px solid silver;
	padding: 0px;
}

table.main td.not_active {
	background-color: #f0f0f0;
}

table.main td.active {
	background-color: #fff;
}

div#side_list {
	float: left;
	border: 1px inset silver;
	width: 120px;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #f3f3f3;
	position: relative;
}

div#side_list h3 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-size: 11.5pt;
}

div#side_list p {
	margin-top: 4px;
}

div#side_list ul {
	margin: 0;
	padding: 0;
}

div#side_list li {
	margin: 0;
	margin-left: 10px;
	margin-bottom: 2px;
	list-style-type: none;
	font-size: 10px;
}

img.calendar_bar {
	margin-left: 4px;
	float: left;
	position: relative;
	z-index: 1;
}

div.lesson_bar {
	border: 1px solid white;
	font-size: 9px;
	padding-top: 1px;
	color: white;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
div.studentname {
	color: white;
	padding: 2px;
	padding-left: 5px;
	cursor: pointer;
	width: 60px;
	margin-right: 5px;
}

span#timebubble {
	border: 5px solid red;
	background-color: white;
	font-size: 14px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-shadow: 2px 2px 10px #888;
	opacity: 0.8;
	z-index: 3;
}

div.legend {
	border: 1px dotted silver;
	font-size: 10px;
	text-align: center;
	padding: 2px;
	margin: 2px;
}

div#event_dialog {
	border: 5px solid red;
	background-color: white;
	font-size: 14px;
	padding: 10px;
	position: absolute;
	-webkit-box-shadow: 2px 2px 10px #888;
	top: 500px;
	left: 400px;
	opacity: 0.8;
	z-index: 4;
}

div#event_dialog input.text {
	padding-left: 5px;
}

div#event_dialog form {
	margin: 0;
}

div#xy {
	text-align: center;
	width: 60px;
	position: absolute;
	top:0;
	left:0;
	background-color: white;
	border: 5px solid orange;
	padding: 10px;
	-webkit-box-shadow: 2px 2px 10px #888;
	opacity: 0.6;
	z-index: 3;
}

span.lesson_text {
	padding-left: 5px;
	position: absolute;
}

div.lesson_list {
	width: 240px;
	border: 5px solid silver;
	background-color: white;
	-webkit-box-shadow: 2px 2px 10px #888;
	position: absolute;
	left: 95px;
	padding: 10px;
	z-index: 4;
}

div.lesson_list ul {
	margin: 0;
	padding: 0;
}

div.lesson_list ul li {
	list-style-type: decimal;
	padding-left: 0px;
	padding-top: 4px;
}

div.week_indicator {
	border-top: 1px solid silver;
	height: 31px;
	text-align:right;
	font-size:10px;
	background-color:rgb(232, 238, 247);
}

div#calendar_list {
	margin-left: 150px;
}

div.student_lesson_list {
	width: 150px;
	height: 350px;
	float: left;
	margin-right: 15px;
}

div.student_lesson_list h3 {
	padding-left: 5px;
	border-bottom: 1px solid silver;
}

div.student_lesson_list ol {
	padding-left: 30px;
	margin: 0px;
}

div.student_lesson_list li {
	font-size: 10px;
	margin-bottom: 4px;
}
/* @end */