<h1>Spring 2009</h1>

<h2>Classes</h2>

<style>
    td {
        vertical-align: top;
        padding-left: 10px;
    }
    td ul {
        margin: 0;
        padding-left: 15px;
    }
    td ul li {
        margin: 0;
    }
</style>

<table class="default_table">
    <thead>
        <tr>
            <th width="25%">
                Book 2 and above
            </th>
            <th width="25%">
                Book 1B Class
            </th>
            <th width="25%">
                Book 1A Class
            </th>
            <th width="25%">
                Pre-Twinkles
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Sat @ 11am<br />
                Fri @ 6pm 
            </td>
            <td>
                Sat @ 10:30am<br />
                Fri @ 5:30pm 
            </td>
            <td>
                Sat @ 10am<br />
                Fri @ 5pm 
            </td>
            <td>
                Sat @ 9:30am<br />
                Fri @ 4:30pm 
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Grossman</li>
                    <li>A. Baban</li>
                    <li>Booker</li>
                    <li>Lee</li>
                </ul>
            </td>
            <td>
    <ul>
        <li>Brumback</li>
        <li>Lian</li>
        <li>Zerrusen</li>
        <li>Nelson</li>
        <li>Shrewsbury</li>
        <li>Ulses</li>
        <li>C. Allen</li>
        <li>J. Kushan</li>
        <li>Brown</li>
        <li>A. EldridgeL. Kim</li>
        <li>A. Kim</li>
        <li>A. Fitzgerald</li>
        <li>S. Fitzgerald</li>
        <li>R. Fitzgerald</li>
    </ul>
            
                
            </td>
            <td>
<ul>
    <li>Barbosa</li>
    <li>Southfield</li>
    <li>Favaro</li>
    <li>S. Kim</li>
    <li>Frye</li>
    <li>L. Bodor</li>
    <li>C. Bodor</li>
    <li>Ehlers</li>
    <li>Markham</li>
    <li>Taliaferro</li>
    <li>Neil</li>
    <li>Pandula</li>
    <li>E. Dunch</li>
    <li>Vu</li>
    <li>Garces</li>
    <li>Holran</li>
    <li>Burnett</li>
    <li>E. Mellon</li>
    <li>Eckartsberg</li>
</ul>
                
            </td>
            <td>
<ul>
    <li>C. Dunch</li>
    <li>Davis</li>
    <li>Wong</li>
    <li>Wong</li>
    <li>Perez</li>
    <li>C. Kushan</li>
    <li>K. Allen</li>
    <li>I. Eldridge</li>
</ul>
                
            </td>
                
    </tbody>
</table>


<hr />

<h2>Spring Group Repertoire</h2>


<h3>Book 1</h3>
<ul>
    <li>Twinkles</li>
    <li>O Come Little Children</li>
    <li>May Song</li>
    <li>Perpetual Motion</li>
    <li>Min. 1</li>
</ul>

<h3>Book 2</h3>
<ul>
    <li>Musette</li>
    <li>Two Grenadiers</li>
    <li>Boccherini</li>
</ul>

<h3>Book 3</h3>
<ul>
    <li>Humoresque</li>
    <li>Bach Bourree</li>
</ul>

<h3>Book 4</h3>
<ul>
    <li>Seitz No. 5, III: Rondo</li>
    <li>Vivaldi No. 6, III: Presto</li>
</ul>

<h3>Book 5</h3>
<ul>
    <li>Vivaldi Concerto in G Minor, I: Allegro*</li>
    <li>Country Dance</li>
</ul>

<h3>Book 6</h3>
<ul>
    <li>La Folia</li>
    <li>Gavotte I &amp; II by Rameau</li>
</ul>

<h3>Book 7</h3>
<ul>
    <li>Bach Concerto No. 1, I</li>
</ul>
<h3>Book 8</h3>
<ul>
    <li>Sonata in G minor by Eccles I &amp; II</li>
</ul>

