<style>
    thead td{
        font-weight: bold;
    }
    td {
        vertical-align: top;
        padding-left: 10px;
        font-size: 0.85em;
    }
    td ul {
        margin: 0;
        padding-left: 15px;
    }
    td ul li {
        margin: 0;
        margin-bottom: 4px;
    }

    ol li {
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 12px;
    }

    ol ul li {
    }

    .month {
        font-size: 1.2em;
        font-weight: strong;
    }
</style>


<h2>Summer 2010 Group Classes</h2>

<h3>Calendar</h3>

<table width="100%"><tr><td width="33%">

<h3>2010</h3>

</td><td width="33%">

<h3>2011</h3>
</td>

<td width="33%">
</td>

</tr>
<tr><td>

<ul>
    <li class="month">September</li>
    <ul>
        <li>11th, Saturday</li>
        <li>18th, Saturday</li>
        <li>24th, Friday</li>
    </ul>
    <li class="month">October</li>
    <ul>
        <li>2nd, Saturday</li>
        <li>16th, Saturday</li>
        <li>22nd, Friday</li>
    </ul>
    <li class="month">November</li>
    <ul>
        <li>6th, Saturday</li>
        <li>20th, Saturday</li>
    </ul>
    <li class="month">December</li>
    <ul>
        <li>4th, Saturday</li>
        <li>10th, Friday</li>
    </ul>
</ul>

</td><td>

<ul>
    <li class="month">January</li>
    <ul>
        <li>8th, Saturday</li>
        <li>14th, Friday</li>
        <li>22nd, Saturday</li>
        <li>29th, Saturday</li>
    </ul>
    <li class="month">February</li>
    <ul>
        <li>4th, Friday</li>
        <li>12th, Saturday</li>
        <li>26th, Saturday</li>
    </ul>
    <li class="month">March</li>
    <ul>
        <li>5th, Saturday</li>
        <li>11th, Friday</li>
        <li>19th, Saturday</li>
    </ul>
</ul>

</td><td>
<ul>
    <li class="month">April</li>
    <ul>
        <li>2nd, Saturday</li>
        <li>8th, Friday</li>
        <li>16th, Saturday</li>
    </ul>
    <li class="month">May</li>
    <ul>
        <li>7th, Saturday</li>
        <li>14th, Saturday</li>
        <li>20th, Friday</li>
        <li>28th, Saturday</li>
    </ul>
    <li class="month">June</li>
    <ul>
        <li>3rd, Saturday</li>
        <li>11th, Saturday</li>
        <li>18th, Friday</li>
    </ul>
</ul>


</td></tr></table>


<br />

<h3>Schedule</h3>


<table class="default_table" style="width:300px; float: left; margin-right: 10px;">
    <thead>
        <tr>
            <td colspan="3" align="center" bgcolor="#B5EAAA">
                <h2>Friday Group Class Schedule</h2>
            </td>
        </tr>
        <tr>
            <td width="20%"  bgcolor="#FFF380">
                Time
            </td>
            <td width="20%" bgcolor="#FFF380">
                Group
            </td>
            <td bgcolor="#FFF380">
                Students
            </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td bgcolor="#DDDFFF"> 4:30pm </td> <td bgcolor="#EDEDFF"> Twinkles </td>
            <td>
                Favaro, Kate<br />
                Lian, Daniel<br />
                Perez, Alex<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#DDDFFF"> 5:00pm </td> <td bgcolor="#EDEDFF"> Book 1A<br />Book 1B<br />Book 2 </td>
            <td>
                Aliaga, Grace<br />
                Allen, Cate<br />
                Allen, Claire<br />
                Barbosa, David<br />
                Brown, Elizabeth<br />
                Burnett, Nora<br />
                Davis, Lee<br />
                Dunch, Catherine<br />
                Dunch, Elisabeth<br />
                Ehlers, Amelia<br />
                Favaro, Robbie<br />
                Fitzgerald, Aidan<br />
                Fitzgerald, Robert<br />
                Fitzgerald, Samantha<br />
                Frigerio, Isabela<br />
                Garces, Nina<br />
                Holran, Gaarison<br />
                Johnson, Audrey<br />
                Kim, Alex<br />
                Kim, Luke<br />
                Kim, Sarah<br />
                Kondapalli, Medha<br />
                Kushan, Julia<br />
                Lian, Joshua<br />
                Markham, Kayla<br />
                Mellon, Emerson<br />
                Neil, Ishbel<br />
                Nelson, Malina<br />
                Pandula, Michael<br />
                Pomponio, Daisy<br />
                Shrewsbury, Jessica<br />
                Southfield, Amanda<br />
                Taiaferro, Caleb<br />
                Ulses, Anna Grace<br />
                Vu, Sophie<br />
                Wong, Abby<br />
                Wong, Alex<br />
                Zerrusen, Ashley<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#DDDFFF"> 5:45pm </td> <td bgcolor="#EDEDFF"> Book 3<br />Book 4 </td>
            <td>
                Baban, Adie<br/>
                Booker, Aaliyah <br/>
                Grossman, Aaron<br/>
                <em>*Book 1-2 harmonies need to be at every 5pm class.</em>
            </td>
        </tr>
        <tr>
            <td bgcolor="#DDDFFF"> 6:15pm </td> <td bgcolor="#EDEDFF"> Book 5<br /> and up </td>
            <td>
                Baban, Ace<br />
                Baban, Troy<br />
            </td>
        </tr>
    </tbody>
</table>

<table class="default_table" style="width:300px;">
    <thead>
        <tr>
            <td colspan="3" align="center" bgcolor="#B5EAAA">
                <h2>Saturday Group Class Schedule</h2>
            </td>
        </tr>
        <tr>
            <td width="20%"  bgcolor="#FFF380">
                Time
            </td>
            <td width="20%" bgcolor="#FFF380">
                Group
            </td>
            <td bgcolor="#FFF380">
                Students
            </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td bgcolor="#DDDFFF"> 09:30am </td> <td bgcolor="#EDEDFF"> Twinkles </td>
            <td>
                Favaro, Kate<br />
                Lian, Daniel<br />
                Perez, Alex<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#DDDFFF"> 10:00am </td> <td bgcolor="#EDEDFF"> Book 1A </td>
            <td>
                Aliaga, Grace<br />
                Allen, Cate<br />
                Burnett, Nora<br />
                Davis, Lee<br />
                Dunch, Catherine<br />
                Ehlers, Amelia<br />
                Favaro, Robbie<br />
                Garces, Nina<br />
                Holran, Gaarison<br />
                Johnson, Audrey<br />
                Kim, Sarah<br />
                Kondapalli, Medha<br />
                Markham, Kayla<br />
                Neil, Ishbel<br />
                Pomponio, Daisy<br />
                Taliaferro, Caleb<br />
                Wong, Alex<br />
                Wong, Abby<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#DDDFFF"> 10:30pm </td> <td bgcolor="#EDEDFF"> Book 1B<br />Book 2 </td>
            <td>
                Dunch, Elisabeth<br />
                Allen, Claire<br />
                Barbosa, David<br />
                Brown, Elizabeth<br />
                Fitzgerald, Aidan<br />
                Fitzgerald, Robert<br />
                Fitzgerald, Samantha<br />
                Frigerio, Isabela<br />
                Kim, Alex<br />
                Kim, Luke<br />
                Kushan, Julia<br />
                Lian, Joshua<br />
                Mellon, Emerson<br />
                Nelson, Malina<br />
                Pandula, Michael<br />
                Shrewsbury, Jessica<br />
                Southfield, Amanda<br />
                Ulses, Anna Grace<br />
                Vu, Sophie<br />
                Zerrusen, Ashley<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#DDDFFF"> 11:00am </td> <td bgcolor="#EDEDFF"> Book 3<br />Book 4 </td>
            <td>
                Baban, Adie<br/>
                Booker, Aaliyah <br/>
                Grossman, Aaron<br/>
            </td>
        </tr>
        <tr>
            <td bgcolor="#DDDFFF"> 11:30am </td> <td bgcolor="#EDEDFF"> Book 5<br /> and up </td>
            <td>
                Baban, Ace<br />
                Baban, Troy<br />
            </td>
        </tr>
    </tbody>
</table>

