<h1>Spring 2009</h1>

<h2>Classes</h2>

<style>
    td {
        vertical-align: top;
        padding-left: 10px;
    }
    td ul {
        margin: 0;
        padding-left: 15px;
    }
    td ul li {
        margin: 0;
    }
</style>

<table class="default_table">
    <thead>
        <tr>
            <th width="25%">
                Book 3 and above
            </th>
            <th width="25%">
                Book 1B ~ Book 2 
            </th>
            <th width="25%">
                Book 1A
            </th>
            <th width="25%">
                Pre-Twinkles
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Sat @ 11am<br />
                Fri @ 6pm 
            </td>
            <td>
                Sat @ 10:30am<br />
                Fri @ 5:30pm 
            </td>
            <td>
                Sat @ 10am<br />
                Fri @ 5pm 
            </td>
            <td>
                Sat @ 9:30am<br />
                Fri @ 4:30pm 
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Baban, A.</li>
                    <li>Grossman</li>
                    <li>Lee</li>
                </ul>
            </td>
            <td>
    <ul>
        <li>Allen, C.</li>
        <li>Booker</li>
        <li>Brown</li>
        <li>Brumback</li>
        <li>Eldridge, A.</li>
        <li>Fitzgerald, A.</li>
        <li>Fitzgerald, R.</li>
        <li>Fitzgerald, S.</li>
        <li>Kim, A.</li>
        <li>Kim, L.</li>
        <li>Kushan, J.</li>
        <li>Lian</li>
        <li>Nelson</li>
        <li>Shrewsbury</li>
        <li>Ulses</li>
        <li>Zerrusen</li>
    </ul>
            
                
            </td>
            <td>
<ul>
    <li>Barbosa</li>
    <li>Bodor, C.</li>
    <li>Bodor, L.</li>
    <li>Burnett</li>
    <li>Dunch, E.</li>
    <li>Eckartsberg</li>
    <li>Ehlers</li>
    <li>Favaro</li>
    <li>Frye</li>
    <li>Garces</li>
    <li>Holran</li>
    <li>Kim, S.</li>
    <li>Markham</li>
    <li>Mellon, E.</li>
    <li>Neil</li>
    <li>Pandula</li>
    <li>Southfield</li>
    <li>Taliaferro</li>
    <li>Vu</li>
</ul>
                
            </td>
            <td>
<ul>
    <li>Allen, K.</li>
    <li>Davis</li>
    <li>Dunch, C.</li>
    <li>Eldridge, I.</li>
    <li>Kushan, C.</li>
    <li>Perez</li>
    <li>Wong, Ab.</li>
    <li>Wong, Al.</li>
</ul>
                
            </td>
                
    </tbody>
</table>


<hr />

<h2>Spring Group Repertoire</h2>


<h3>Book 1</h3>
<ul>
    <li>Twinkles</li>
    <li>O Come Little Children</li>
    <li>May Song</li>
    <li>Perpetual Motion</li>
    <li>Min. 1</li>
</ul>

<h3>Book 2</h3>
<ul>
    <li>Musette</li>
    <li>Two Grenadiers</li>
    <li>Boccherini</li>
</ul>

<h3>Book 3</h3>
<ul>
    <li>Humoresque</li>
    <li>Bach Bourree</li>
</ul>

<h3>Book 4</h3>
<ul>
    <li>Seitz No. 5, III: Rondo</li>
    <li>Vivaldi No. 6, I: Allegro</li>
</ul>

<h3>Book 5</h3>
<ul>
    <li>Country Dance</li>
</ul>

<h3>Book 6</h3>
<ul>
    <li>Gavotte I &amp; II by Rameau</li>
</ul>

<h3>Book 7</h3>
<ul>
    <li>Bach Concerto No. 1, I</li>
</ul>
<h3>Book 8</h3>
<ul>
    <li>Sonata in G minor by Eccles I &amp; II</li>
</ul>

