<style>
    td {
        vertical-align: top;
        padding-left: 10px;
        font-size: 0.85em;
    }
    td ul {
        margin: 0;
        padding-left: 15px;
    }
    td ul li {
        margin: 0;
        margin-bottom: 4px;
    }
</style>
<h2>Summer 2010</h2>

<h3>Classes</h3>

<table class="default_table">
    <thead>
        <tr>
            <th width="20%">
                Mondays 4:30PM~5PM
            </th>
            <th width="20%">
                Mondays 5PM~6PM
            </th>
            <th width="20%">
                Mondays 6PM~7PM
            </th>
            <th width="20%">
                Wednesdays 4:30PM~5:15PM
            </th>
            <th width="20%">
                Wednesdays 5:15PM~6:15
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="20%">
                 @ CIFA 110
            </td>
            <td width="20%">
                 @ CIFA 110
            </td>
            <td width="20%">
                 @ CIFA 110
            </td>
            <td width="20%">
                 @ CIFA 108
            </td>
            <td width="20%">
                 @ CIFA 108
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Catherine Dunch (Elisabeth)</li>
                    <li>Favaro, Kate (Robbie)</li>
                    <li>Wong, Abigail</li>
                    <li>Wong, Alexander</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Barbosa, David</li>
                    <li>Bodor, Chiara</li>
                    <li>Bodor, Lexy</li>
                    <li>Brown, Elizabeth</li>
                    <li>Burnett, Nora</li>
                    <li>Dunch, Elisabeth</li>
                    <li>Mellon, Emerson</li>
                    <li>Neil, Ishbel</li>
                    <li>Robbie Favaro </li>
                    <li>Southfield, Amanda</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Allen, Claire</li>
                    <li>Brumback, Ian</li>
                    <li>Frigerio, Isabela</li>
                    <li>Lian, Joshua</li>
                    <li>Nelson, Malina</li>
                    <li>Pandula, Michael</li>
                    <li>Sarah Kim </li>
                    <li>Shrewsbury, Jessica</li>
                    <li>Ulses, Anna Grace</li>
                    <li>Zerrusen, Ashley</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Allen, Cate (Claire)</li>
                    <li>Davis, Lee</li>
                    <li>Ehlers, Amelia</li>
                    <li>Garces, Nina</li>
                    <li>Lian, Daniel (Joshua)</li>
                    <li>Markham, Kayla</li>
                    <li>Perez, Alexander</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Booker, Aaliyah</li>
                    <li>Fitzgerald, Aidan</li>
                    <li>Fitzgerald, Robert</li>
                    <li>Fitzgerald, Samantha</li>
                    <li>Grossman, Aaron</li>
                    <li>Kim, Alex &amp; Luke</li>
                    <li>Kushan, Julia</li>
                    <li>Vu, Sophianne</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!--

<h2>Spring 2009</h2>

<h3>Classes</h3>


<table class="default_table">
    <thead>
        <tr>
            <th width="25%">
                Book 3 and above
            </th>
            <th width="25%">
                Book 1B ~ Book 2 
            </th>
            <th width="25%">
                Book 1A
            </th>
            <th width="25%">
                Pre-Twinkles
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Sat @ 11am<br />
                Fri @ 6pm 
            </td>
            <td>
                Sat @ 10:30am<br />
                Fri @ 5:30pm 
            </td>
            <td>
                Sat @ 10am<br />
                Fri @ 5pm 
            </td>
            <td>
                Sat @ 9:30am<br />
                Fri @ 4:30pm 
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Baban, A.</li>
                    <li>Grossman</li>
                    <li>Lee</li>
                </ul>
            </td>
            <td>
    <ul>
        <li>Allen, C.</li>
        <li>Booker</li>
        <li>Brown</li>
        <li>Brumback</li>
        <li>Eldridge, A.</li>
        <li>Fitzgerald, A.</li>
        <li>Fitzgerald, R.</li>
        <li>Fitzgerald, S.</li>
        <li>Kim, A.</li>
        <li>Kim, L.</li>
        <li>Kushan, J.</li>
        <li>Lian</li>
        <li>Nelson</li>
        <li>Shrewsbury</li>
        <li>Ulses</li>
        <li>Zerrusen</li>
    </ul>
            
                
            </td>
            <td>
<ul>
    <li>Barbosa</li>
    <li>Bodor, C.</li>
    <li>Bodor, L.</li>
    <li>Burnett</li>
    <li>Dunch, E.</li>
    <li>Eckartsberg</li>
    <li>Ehlers</li>
    <li>Favaro</li>
    <li>Frye</li>
    <li>Garces</li>
    <li>Holran</li>
    <li>Kim, S.</li>
    <li>Markham</li>
    <li>Mellon, E.</li>
    <li>Neil</li>
    <li>Pandula</li>
    <li>Southfield</li>
    <li>Taliaferro</li>
    <li>Vu</li>
</ul>
                
            </td>
            <td>
<ul>
    <li>Allen, K.</li>
    <li>Davis</li>
    <li>Dunch, C.</li>
    <li>Eldridge, I.</li>
    <li>Kushan, C.</li>
    <li>Perez</li>
    <li>Wong, Abby</li>
    <li>Wong, Alex</li>
</ul>
                
            </td>
                
    </tbody>
</table>


<hr />

<h2>Spring Group Repertoire</h2>


<h3>Book 1</h3>
<ul>
    <li>Twinkles</li>
    <li>O Come Little Children</li>
    <li>May Song</li>
    <li>Perpetual Motion</li>
    <li>Min. 1</li>
</ul>

<h3>Book 2</h3>
<ul>
    <li>Musette</li>
    <li>Two Grenadiers</li>
    <li>Boccherini</li>
</ul>

<h3>Book 3</h3>
<ul>
    <li>Humoresque</li>
    <li>Bach Bourree</li>
</ul>

<h3>Book 4</h3>
<ul>
    <li>Seitz No. 5, III: Rondo</li>
    <li>Vivaldi No. 6, I: Allegro</li>
</ul>

<h3>Book 5</h3>
<ul>
    <li>Country Dance</li>
</ul>

<h3>Book 6</h3>
<ul>
    <li>Gavotte I &amp; II by Rameau</li>
</ul>

<h3>Book 7</h3>
<ul>
    <li>Bach Concerto No. 1, I</li>
</ul>
<h3>Book 8</h3>
<ul>
    <li>Sonata in G minor by Eccles I &amp; II</li>
</ul>
-->
