<h2>2012 ~ 2013 Information</h2>

<div>
  <h3>Group Class Time</h3>
  <ul>
    <li>4:30PM ~ 5:00PM - Beginners</li>
    <li>5:00PM ~ 7:00PM - Book 1~6 *</li>
  </ul>

  *The group classes are repertoire driven, not age. Everyone from book 1-6 joins at 5pm and each will leave staggered according to your study piece.
</div>

<div>
  <h3>Class Locations</h3>
  <ul>
    <li>Monday - Home Studio</li>
    <li>Tuesday - Home Studio</li>
    <li>Wednesday - CIFA Room 136</li>
    <li>Thursday - CIFA Room 308</li>
    <li>Friday - CIFA Room 308</li>
    <li>Group Class - Room 327/330</li>
  </ul>
</div>

<div>
  <h3>Recital Dates</h3>
  <ul>
    <li>Solo Concert - October 27th at 11:00AM, Chapel</li>
    <li>Group Concert - December 1st at 11:00AM, Greensprings</li>
    <li>Solo Concert - March 16th at 11:00AM, Chapel</li>
    <li>Group Concert - May 12th at 4:00PM, Sanctuary</li>
  </ul>
</div>

<div>
  <h3>Fall 2012 Study List</h3>

  <ul>
    <li>Book 1</li>
    <ul>
      <li>Twinkle, Twinkle, Little Star Variations</li>
      <li>Song of the wind </li>
      <li>Long Long Ago </li>
      <li>Etude </li>
      <li>Minuet 3 </li>
      <li>Gavotte by Gossec</li>
    </ul>
    <li>Book 2</li>
    <ul>
      <li>Musette</li>
      <li>Hunter's Chorus from "Der Freisch&#252;tz"</li>
      <li>The Two Grenadiers</li>
      <li>Gavotte by Lully</li>
    </ul>
    <li>Book 3</li>
    <ul>
      <li>Minuet by Bach</li>
      <li>Humoresque </li>
      <li>Bourree by Bach</li>
    </ul>
    <li>Book 4</li>
    <ul>
      <li>Vivaldi A minor Concerto Ist mvt: Allegro</li>
      <li>Perpetual Motion - Little Suite No. 6</li>
    </ul>
    <li>Book 5 </li>
    <ul>
      <li>Gigue from Sonata in d minor - Allegro vivace</li>
    </ul>
    <li>Book 6</li>
    <ul>
      <li>La Folia by Corelli</li>
    </ul>
  </ul>
</div>




