<h2>Resources for parents and students</h3>
<h3>Practice Charts</h3>
<ul>
  <li><a href="/files/2012_HC_Practice_Chart_Pre_Twinkle.pdf">2012 Practice Chart - Pre Twinkles</a>
  <li><a href="/files//2012_HC_Practice_Chart_Book_1.pdf">2012 Practice Chart - Book 1</a>
  <li><a href="/files/2012_HC_Practice_Chart_Book_2_3_4.pdf">2012 Practice Chart - Book 2, 3, 4</a>
  <li><a href="/files/2012_HC_Practice_Chart_Book_5_and_up.pdf">2012 Practice Chart - Book 5 and above</a>
</ul>

