<h2><img src="images/icons/news_big.png" class="icon" /> Current Newsletter - April Issue</h2>


<div id="current_issue">
	<p>This issue includes...</p>
	<ul>
		<li>New Listening Assignments</li>
		<li>Yearbook Photos!</li>
		<li>Book recommendations</li>
		<li>...and more!</li>
	</ul>

	<a href="/newsletter/april2008.pdf">Click here to download <img src="/images/icons/pdf_small.gif" class="icon" /></a>
</div>


<hr />

<h2><img src="images/icons/news_big.png" class="icon" /> Previous Issues</h2>

<ul>
	<li><a href="/newsletter/feb2008.html">February 2008 Issue <img src="/images/placer.gif" height="18" class="icon" /></a></li>
	<li><a href="/newsletter/jan2008.pdf">January 2008 Issue <img src="/images/icons/pdf_small.gif" class="icon" /></a></li>
	<li><a href="/newsletter/summer2007.pdf">Summer 2007 Issue <img src="/images/icons/pdf_small.gif" class="icon" /></a></li>
</ul>
