<p>The page you are trying to access requires an verified account.</p>
<p>Your account hasn't been verified yet.</p>
<p>You will receive a email notification when your account has been verified and activated.</p>
<p>Come back when you receive an email!</p>
<p><%= link_to "Back Home", :controller => '/display', :action => 'index' %></p>