<h2>Login page</h2>

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<p>To login, please use the login form above.</p>
<p>Your login should be your email address.</p>
<p>If you do not have an account, please sign up!</p>
<p><a href="" class="small_link">I forgot my password</a></p>