<p><%= image_tag "icons/face-grin.png", :width => "64", :height=>"64", :align=>"left", :style => "margin: 5px 20px 20px 20px;" %> Once you are verified as a suzuki parent, your account will be activated.</p>
<p>You will soon receive an email once that happens.</p>
<%= link_to "Home", "/" %>