
<div id="calendar_table">
<table class="calendar main">
  <thead>
    <tr>
      <th width="30">Week</th>
      <th width="10">hrs</th>
      <th class="flex">Monday</th>
      <th class="flex">Tuesday</th>
      <th class="flex">Wednesday</th>
      <th class="flex">Thursday</th>
      <th class="flex">Friday</th>
      <th class="flex">Saturday</th>
    </tr>	
  </thead>
  <tbody>
  </tbody>
</table>
