<h2>Thank you for registering!</h2>
<p>Your registration has been submitted and is now ready for approval. If you feel like you have made a mistake in your registration, you may go back to the <%= link_to "registration page", "/register" %> and fix your mistake.</p>
<p>Your tuition will be billed individually. If you have any questions regarding tuition, please email Hannah Choi at <a href="mailto:choi.hanna@gmail.com">choi.hanna@gmail.com</a></p>
<p>Once your student's lesson schedule has been finalized you will be notified via email. At that time you can come back and check the lesson schedule.</p>
<p>Thank you again for registering!</p>

<%= link_to "Back to registration page", "/register" %>